:root {
  --bg-intro: hsl(217, 28%, 15%);
  --bg-main: hsl(218, 28%, 13%);
  --bg-mail: hsl(217, 28%, 15%);
  --bg-testimonials: hsl(219, 30%, 18%);
  --bg-footer: hsl(216, 53%, 9%);

  --color-cyan: hsl(176, 68%, 64%);
  --color-blue: hsl(198, 60%, 50%);
  --color-error: hsl(0, 100%, 63%);

  --ff-railway: "Raleway", sans-serif;
  --ff-opensans: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: var(--ff-railway);
}

h1,
h2,
h3 {
  font-family: var(--ff-railway);
}

.title-large {
  font-size: 40px;
  margin-bottom: 8px;
}

p {
  line-height: 1.5rem;
  padding: 8px 0;
}

body {
  background: var(--bg-main);
  font-size: 16px;
  font-family: var(--ff-opensans);
  color: white;
}

.wrap {
  /* border: 2px dotted lightgreen; */
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}

header {
  /* border: 1px solid goldenrod; */
  background: var(--bg-intro);
}

.nav {
  /* border: 1px dotted blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  font-family: var(--ff-railway);
}
.nav .nav-links {
  display: flex;
}
.nav .nav-links a {
  /* border: 1px dotted white; */
  display: block;
  padding-left: 40px;
  color: white;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.nav .nav-links a:hover {
  opacity: 1;
  text-decoration: underline;
}

.section-intro {
  /* border: 1px solid red; */
  background: var(--bg-intro);
  background-image: url(img/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: 100% 25%;
}

.intro {
  /* border: 1px solid white; */
  max-width: 830px;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.image-container img {
  display: block;
  width: 100%;
}

.intro p {
  font-size: 19px;
  width: 70%;
}

.btn {
  border: none;
  outline: none;
  padding: 18px 24px;

  border-radius: 50px;
  font-size: inherit;
  color: white;
  background-image: linear-gradient(to right, var(--color-cyan), var(--color-blue));
  cursor: pointer;
}

.overview-container {
  padding-top: 80px;
}

.overview-row {
  display: flex;
  justify-content: space-around;
}

.overview {
  /* border: 1px solid red; */
  width: 400px;
  margin: 0 20px;
  text-align: center;
  margin-bottom: 100px;
}

.overview h3 {
  padding: 8px;
  padding-top: 20px;
}

.productive-container {
  display: flex;
  align-items: center;
  /* padding: 40px; */
}

.productive-img,
.productive-text {
  padding: 20px;
}

.productive-img img {
  width: 100%;
}

.productive-link {
  padding-bottom: 4px;
  border-bottom: 2px solid var(--color-cyan);
}
.productive-link a {
  color: var(--color-cyan);
}
.card-container {
  /* border: 1px solid white; */
  margin: 150px 0 50px 0;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 350px;
  padding: 14px 20px;
  margin: 10px;
  border-radius: 4px;
  background: var(--bg-testimonials);
}

.card-text {
  line-height: 1.5rem;
  padding-top: 20px;
}

.card-profile {
  /* border: 1px solid hotpink; */
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.card-profile img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.card-user {
  padding-left: 20px;
}
.card-profile span {
  display: block;
  padding: 2px;
  font-size: 14px;
}
.signup-container {
  position: relative;
}
.signup {
  position: relative;
  top: 130px;
  max-width: 800px;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  background: var(--bg-mail);
}

.email-container {
  display: flex;
  margin-top: 20px;
  /* align-items: center; */
}

.input-email {
  flex: 60%;
  margin-right: 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  padding-left: 30px;
}

footer {
  padding-top: 200px;
  background: var(--bg-footer);
}

.footer-row {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 80px;
}

.footer-col {
  padding: 10px;
  flex: 1;
  /* border: 1px dotted blue; */
}
.footer-item {
  margin-bottom: 8px;
}
.footer-icon {
  padding-right: 8px;
}
.footer-social-container {
  display: flex;
  justify-content: space-around;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50px;
}
